fastapi>=0.111.0
uvicorn[standard]>=0.30.0
playwright>=1.44.0
mkdocs>=1.6.0
mkdocs-material>=9.5.0
python-dotenv>=1.0.1
loguru>=0.7.2
pydantic-settings>=2.2.1
pyotp>=2.9.0
pandas>=2.2.0
openpyxl>=3.1.2
requests>=2.32.0
xlrd >= 2.0.1